{% capture sizes %}100x,480x,765x,1400x,2048x{% endcapture %}
{% assign sizes = sizes | split: ',' %}

<div class="container featured-category-full_width">
  
  <div class="items-grid">
    <div class="one-three">
      <div class="image__container">
        <a href="{{section.settings.category_link_1}}">
          {% unless section.settings.image_1 == blank %}
            <picture class="cat-pic-card">
              <source srcset="{{ section.settings.image_1 | img_url: sizes.last }} 1x, {{ section.settings.image_1 | img_url: sizes.last, scale: 2 }} 2x" media="(min-width: 768px)">
              <img class="img-responsive" 
                src="{{ section.settings.image_1 | img_url: sizes.first }}"
                data-src="{{ section.settings.image_1 | img_url: sizes.last }}"
                alt="{{ section.settings.image_1.alt }}"
                srcset="{%- for size in sizes -%}
                    {{ section.settings.image_1 | img_url: size}}
                    {{ size | replace: "x", "w" }}{% unless forloop.last %},{% endunless %}
                    {%- endfor -%}
                  ">
            </picture>
          {% endunless %}
        </a>
      </div>
    </div>     
    <div class="one-three">
      <div class="image__container">
        <a href="{{section.settings.category_link_2}}">
          {% unless section.settings.image_2 == blank %}
            <picture class="cat-pic-card">
              <source srcset="{{ section.settings.image_2 | img_url: sizes.last }} 1x, {{ section.settings.image_1 | img_url: sizes.last, scale: 2 }} 2x" media="(min-width: 768px)">
              <img class="img-responsive" 
                src="{{ section.settings.image_2 | img_url: sizes.first }}"
                data-src="{{ section.settings.image_2 | img_url: sizes.last }}"
                alt="{{ section.settings.image_2.alt }}"
                srcset="{%- for size in sizes -%}
                    {{ section.settings.image_2 | img_url: size}}
                    {{ size | replace: "x", "w" }}{% unless forloop.last %},{% endunless %}
                    {%- endfor -%}
                  ">
            </picture>
          {% endunless %} 
        </a>
      </div>
    </div>
    <div class="one-three">
      <div class="image__container">
        <a href="{{section.settings.category_link_3}}">
          {% unless section.settings.image_3 == blank %}
            <picture class="cat-pic-card">
              <source srcset="{{ section.settings.image_3 | img_url: sizes.last }} 1x, {{ section.settings.image_1 | img_url: sizes.last, scale: 2 }} 2x" media="(min-width: 768px)">
              <img class="img-responsive" 
                src="{{ section.settings.image_3 | img_url: sizes.first }}"
                data-src="{{ section.settings.image_3 | img_url: sizes.last }}"
                alt="{{ section.settings.image_3.alt }}"
                srcset="{%- for size in sizes -%}
                    {{ section.settings.image_3 | img_url: size}}
                    {{ size | replace: "x", "w" }}{% unless forloop.last %},{% endunless %}
                    {%- endfor -%}
                  ">
            </picture>
          {% endunless %}
        </a>
      </div>
    </div>    
  </div>
  <div class="items-grid">
    <div class="one-whole">
      <div class="image__container">
        <a href="{{section.settings.category_link_4}}">
          {% unless section.settings.image_4 == blank %}
            <picture class="cat-pic-card">
              <source srcset="{{ section.settings.image_4 | img_url: sizes.last }} 1x, {{ section.settings.image_1 | img_url: sizes.last, scale: 2 }} 2x" media="(min-width: 768px)">
              <img class="img-responsive" 
                src="{{ section.settings.image_4 | img_url: sizes.first }}"
                data-src="{{ section.settings.image_4 | img_url: sizes.last }}"
                alt="{{ section.settings.image_4.alt }}"
                srcset="{%- for size in sizes -%}
                    {{ section.settings.image_4 | img_url: size}}
                    {{ size | replace: "x", "w" }}{% unless forloop.last %},{% endunless %}
                    {%- endfor -%}
                  ">
            </picture>
          {% endunless %} 
        </a>
      </div>
    </div>  
  </div>
  
</div>

{% schema %}
  {
    "name": {
      "en": "Featured categories"
    },
    "class": "index-section index-section--featured",
    "settings": [
      {
        "type": "text",
        "id": "title_1",
        "label": {
          "en": "Heading 1"
        },        
        "default": {
          "en": "Men"
        }
      },
      {
        "type": "url",
        "id": "category_link_1",
        "label": {
          "en": "Category link 1"
        }
      },
      {
        "type": "text",
        "id": "btn_label_1",
        "label": {
          "en": "Button Label 1"
        }
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": {
          "en": "Image",
          "de": "Foto",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "es": "Imagen",
          "pt-BR": "Imagem"
        }
      },
      {
        "type": "text",
        "id": "title_2",
        "label": {
          "en": "Heading 2",
          "de": "Titel",
          "fr": "En-tête",
          "it": "Heading",
          "ja": "見出し",
          "es": "Título",
          "pt-BR": "Título"
        },        
        "default": {
          "en": "Clothing Category 2"
        }

      },
      {
        "type": "url",
        "id": "category_link_2",
        "label": {
          "en": "Category link 2"
        }
      },
      {
        "type": "text",
        "id": "btn_label_2",
        "label": {
          "en": "Button Label 2"
        }
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": {
          "en": "Image",
          "de": "Foto",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "es": "Imagen",
          "pt-BR": "Imagem"
        }
      },
      {
        "type": "text",
        "id": "title_3",
        "label": {
          "en": "Heading 3",
          "de": "Titel",
          "fr": "En-tête",
          "it": "Heading",
          "ja": "見出し",
          "es": "Título",
          "pt-BR": "Título"
        },        
        "default": {
          "en": "Clothing Category 3"
        }
      },
      {
        "type": "url",
        "id": "category_link_3",
        "label": {
          "en": "Category link 3"
        }
      },
      {
        "type": "text",
        "id": "btn_label_3",
        "label": {
          "en": "Button Label 3"
        }
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": {
          "en": "Image",
          "de": "Foto",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "es": "Imagen",
          "pt-BR": "Imagem"
        }
      },
      {
        "type": "text",
        "id": "title_4",
        "label": {
          "en": "Heading 4",
          "de": "Titel",
          "fr": "En-tête",
          "it": "Heading",
          "ja": "見出し",
          "es": "Título",
          "pt-BR": "Título"
        },        
        "default": {
          "en": "Clothing Category 4"
        }
      },
      {
        "type": "url",
        "id": "category_link_4",
        "label": {
          "en": "Category link 4"
        }
      },
      {
        "type": "text",
        "id": "btn_label_4",
        "label": {
          "en": "Button Label 4"
        }
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": {
          "en": "Image",
          "de": "Foto",
          "fr": "Image",
          "it": "Immagine",
          "ja": "画像",
          "es": "Imagen",
          "pt-BR": "Imagem"
        }
      }

    ],
    "presets": [
      {
        "name": {
          "en": "Featured categories"
        },
        "category": {
          "en": "Collection"
        }
      }
    ]
  }
{% endschema %}